# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Secrets & env files
.env
*.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Build / dist
dist/
build/
*.egg-info/

# macOS
.DS_Store

# IDE
.idea/
.vscode/


data/*